html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#game-root {
  width: 100vw;
  height: 100vh;
  touch-action: none; // allow joystick
}

#game-root canvas {
  width: 100%;
  height: 100%;
  display: block;
}
